<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84699336764-osrjovll6p67bdn8eflnrdrlplkerg8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84699336764-osrjovll6p67bdn8eflnrdrlplkerg8h</string>
	<key>API_KEY</key>
	<string>AIzaSyDMj7hkEECJ-GUxzMFGRYzrSNJ6TPZFAlk</string>
	<key>GCM_SENDER_ID</key>
	<string>84699336764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-0220301.DonWorry</string>
	<key>PROJECT_ID</key>
	<string>donworry-b03de</string>
	<key>STORAGE_BUCKET</key>
	<string>donworry-b03de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84699336764:ios:fbfd1feba7c7539c55f339</string>
</dict>
</plist>